
.ipynb_checkpoints/titanic tutorial 2 - Feature engineering-checkpoint.ipynb
Python/.tmp.drivedownload/9081400.driveupload
*.driveupload
Python/machineLearning_warmingUp/AI-python-connect/
Python/keras deep learning book by python/dataset/aclImdb.zip
Python/keras deep learning book by python/dataset/glove-6b.zip
